.blog-header {
  box-sizing: border-box;
  background-image: url("../image/bukchon-hanok-2.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  z-index: 2;
  position: static;
  padding: 50px;
}
.blog-header-title-blog {
  color: white;
  font-size: 5rem;
  text-align: center;
}
.blog-header-title-desc {
  color: rgb(25, 214, 173);
  font-size: 4rem;
  text-align: center;
}
  .container {
    margin-top: 10px;
    z-index: 1;
    box-sizing: border-box;
  }
  .limited-text {
    display: -webkit-box;             
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3;           
    overflow: hidden;                 
    text-overflow: ellipsis;          
    height: calc(1.1em * 4);  
    margin-bottom: 20px;    
  }
  
  /* @media (max-width: 1023px) {
      .blog-header {
          position: static;
      }
  } */
  
  @media (max-width: 992px) {
    /* .navbar {
      margin-top: 10px;
    } */
    .blog-header {
      padding: 20px;
      margin-bottom: 20px;
    }
    .blog-header-title-blog {
      font-size: 3rem;
    }
    .blog-header-title-desc {
      font-size: 3rem;
    }
  }

  /* @media (max-width : 576px) {
    .post-image {
      width: 50%;
      height: 100px;
    }
  } */
  
  